.bg-video {
  width: 100%;
  height: 50vh;
  position: relative;
}

.bg-video::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.head-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  padding: 40px;

  width: 80%;
  height: 100%;
}

.head-info h1, .head-info p {
  text-align: center;
}

@media screen and (min-width: 1400px) {
  .head-info h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .head-info p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .head-info h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .head-info p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .head-info {
    padding: 0;
  }
}

@media screen and (max-width: 992px){
  .bg-video {
    height: 60vh;
  }
  .head-info h1 {
    font-size: 20px;
  }
  .head-info p {
    font-size: 15px;
  }
}