
.felt-video,
.felt-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frustration-video {
  max-width: 100%;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.frustration-video video {
  border-radius: 20px;
}

.felt-desc {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.felt-desc h1, .felt-desc p, .felf-desc h2 {
  text-align: start;
}

.felt-desc h1 {
  font-size: 2rem;
}

.felt-desc  p {
  font-size: 1.2rem;
}

.felt-desc  h2 {
  font-size: 1.5rem;
}

.felt-desc  a {
  align-self: center;
}

@media screen and (max-width: 1200px) {

  .frustration-video {
    width: 40%;
    margin-bottom: 2em;
  }

  .felt-desc {
    align-items: center;
  }

  .felt-desc h1, .felt-desc p, .felf-desc h2 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .frustration-video {
    width: 50%;
  }
}

@media screen and (max-width: 768px), (max-width: 576px) {
  .frustration-video {
    width: 70%;
  }
  .felt-desc h1 {
    font-size: 18px;
    font-weight: 900;
  }
  .felt-desc p {
    font-size: 15px;
  }
  .felt-desc  h2 {
    font-size: 12px;
    font-weight: 900;
  }
}
