@import url(./reset-boostrap.css);
@import url(./reset.css);
@import url(./bg-video.css);
@import url(./section-felt.css);
@import url(./section-env.css);
@import url(./section-recom.css);
@import url(./section-consul.css);
@import url(./section-perfil.css);
@import url(./section-deposition.css);
@import url(./social-media.css);
@import url(./animation.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --grey: #a1a1a1;
  --brown: #b18a73d9;
  --brown-light: #bf8a6c;
  --brown-strong: #a7653f;
  --green: #00a400;
  --green-light: #04d904;
  --red: #850200;
}

body {
  font-family: "Albert Sans", Sans-serif;
}

section {
  padding: 5em 0;
}

.color-brown {
  color: var(--brown-strong);
}

.color-white {
  color: var(--white);
}

.color-red {
  color: var(--red);
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

/* GLOBAL CSS */

.wrapper {
  width: 100%;
  height: 100%;
}

.image-fluid-contain,
.image-fluid-cover,
.video-fluid-contain,
.video-fluid-cover {
  height: 100%;
  width: 100%;
}

.image-fluid-contain,
.video-fluid-contain {
  object-fit: contain;
}

.image-fluid-cover,
.video-fluid-cover {
  object-fit: cover;
}

.bg-brown {
  background-color: var(--brown-strong);
}

.bg-black {
  background-color: var(--black);
}

.parallax {
  background-image: url("../image/contact.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 70vh;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 0;
}

.logo-footer {
  max-width: 20%;
  height: auto;
  z-index: 1;
}

.index-1 {
  z-index: 1;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}

.btn-brown {
  background-color: var(--brown-strong);
  border-color: var(--brown-strong);
  color: var(--white);
}

.btn-brown:hover {
  background-color: var(--brown-light);
  border-color: var(--brown-light);
}

.section-title {
  margin-bottom: 3em;
}

.section-title h1 {
  font-size: 2rem;
}

.section-title p {
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  padding: 0 5em;
}

.direction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.w-1 {
  width: 8.33333%;
  max-width: 8.33333%;
}
.w-2 {
  width: 16.66667%;
  max-width: 16.66667%;
}
.w-3 {
  width: 25%;
  max-width: 25%;
}
.w-4 {
  width: 33.33333%;
  max-width: 33.33333%;
}
.w-5 {
  width: 41.66667%;
  max-width: 41.66667%;
}
.w-6 {
  width: 50%;
  max-width: 50%;
}
.w-7 {
  width: 58.33333%;
  max-width: 58.33333%;
}
.w-8 {
  width: 66.66667%;
  max-width: 66.66667%;
}
.w-9 {
  width: 75%;
  max-width: 75%;
}
.w-10 {
  width: 83.33333%;
  max-width: 83.33333%;
}
.w-11 {
  width: 91.66667%;
  max-width: 91.66667%;
}
.w-12 {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6,
  .w-7,
  .w-8,
  .w-9,
  .w-10,
  .w-11,
  .w-12 {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 3em;
  }
}
